<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="text-center display-1 ">Customer Record</div>
      
      <div class="container-box mt-5">
  <div class="row">
    <div class="col-md-10 mx-auto text-center pt-5">
      <h1 class="title text-center">About</h1>
      <h5 class="title text-center">~ Customer Recordとは ~</h5>
      <p class="text-center mt-5 pb-3">等アプリは営業がどのような行動を行なったか一元管理できる顧客管理アプリです
      <br>様々なニーズを持った会員様に利用していただきたいと思っております。</p>
    </div>

  </div>

</div>
      </div>
    </div>
  </div>
</div>