/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


footer{
  background-color: rgba(100,100,80,0.7);
  width: 100%;
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;

}

.container-box{
  background-color: rgba(255,250,205,0.7);
  margin-bottom: 50px;
}

.search-form{
  margin: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* フッタと同じ高さに設定 */
  margin-bottom: 60px;

  /* 一番下までスクロールした時の余白 */
  padding-bottom: 0;
}



@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .main {
    width: 100;
  }
}